.side-bar {
    height: 100dvh;
    overflow-y: auto;
}

.content-wrapper {
    overflow-y: auto;
    height: 90dvh;
}

.nav-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}



.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}